{% extends 'addiction_events/base.html' %}

{% block content %}
{% if user.is_authenticated %}

    <h1>Update Venue...</h1>
    {{ venue }}
    <form action="" method=POST enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <input type='submit' value='Update' class='btn btn-secondary'>

{% else %}
<h1>Sorry! You must be logged in to view this page.</h1>
<br/>
<a href="{% url 'login' %}">Login</a> | <a href="{% url 'register-user' %}">Register</a>
{% endif %}
{% endblock %}
